@import "theme.scss";
$baseFontSize:16px !default; 

// pixels to rems 
@function pxToRem($px) {
  	@return $px / $baseFontSize * 1rem;
}

@function getSize($px) {
	@return $px / 2;
}


* {
	padding: 0;
	margin: 0;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
	font-size: $baseFontSize;
	-ms-touch-action: none;
}

body {
	text-align: center;
	background-color:$body-color;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: $a-color;
}
a:link {
	color: $a-color;
}
a:visited {
	color: $a-color;
}
a:hover {
	color: $a-color;
}
a:active {
	color: $a-color;
}

input {
  font-weight: normal;
  font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
  &:-ms-clear{display: none;}
  &:-ms-reveal{display: none;}
}

button, input, select, textarea {
    font-family: "Helvetica Neue",Roboto,sans-serif;
    margin: 0;
    outline-offset: 0;
    outline-style: none;
    outline-width: 0;
    -webkit-font-smoothing: inherit;
    background-image: none;
}

#search::-webkit-search-cancel-button{
	display:none;
}

.no-message {
  margin-top: pxToRem(100px);
  font-family: 'Heiti SC Regular', 'Heiti SC';
  font-weight: 400;
  font-style: normal;
  font-size: pxToRem(36px);
  color: $gray-color;
  text-align: center;
  background-color:$body-color;
}

.list {
	text-align: left;
	background-color: $white-color;
	.item {
		padding: pxToRem(15px) pxToRem(10px);
		border-top: 1px solid $item-border-color;
		cursor: pointer;
	}
	.item.top {
		background-color: $white-color;
	}
	.item:last-child {
		border-bottom: 1px solid $item-border-color;
	}
}
.item.go-right:after {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	position: absolute;
  	left: 100%;
	display: block;
	margin-top: pxToRem(-14px);
	color: $gray-color;
	content:"\f125";
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-size: pxToRem(16px);
	font-family:'Ionicons';
	line-height: 1;
	speak: none;
	margin-left: pxToRem(-20px);
}
.item.go-down:after {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  position: absolute;
  left: 100%;
  display: block;
  margin-top: -4%;
  color: $gray-color;
  content:"\f123";
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-size: pxToRem(16px);
  font-family:'Ionicons';
  line-height: 1;
  speak: none;
  margin-left: pxToRem(-25px);
}
.item.go-up:after {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  position: absolute;
  left: 100%;
  display: block;
  margin-top: -4%;
  color: $gray-color;
  content:"\f126";
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-size: pxToRem(16px);
  font-family:'Ionicons';
  line-height: 1;
  speak: none;
  margin-left: pxToRem(-25px);
}
.item.go-left:after {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	position: absolute;
  	left: 100%;
	display: block;
	margin-top: pxToRem(-8px);
	color: $gray-color;
	content:"\f124";
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-size: pxToRem(16px);
	font-family:'Ionicons';
	line-height: 1;
	speak: none;
	margin-left: pxToRem(-20px);
}
.go-left:after {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	position: absolute;
	left: pxToRem(30px);
	top: 50%;
	display: block;
	margin-top: pxToRem(-8px);
	color: $white-color;
	content: "\f124";
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-size: pxToRem(16px);
	font-family: 'Ionicons';
	line-height: 1;
	speak: none;
	margin-left: pxToRem(-20px);
}
.arrow-down:after {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	left: pxToRem(30px);
	display: block;
	margin-top: pxToRem(-17px);
	color: $black-color;
	content: "\f104";
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-size: pxToRem(16px);
	font-family: 'Ionicons';
	line-height: 1;
	speak: none;
	margin-left: pxToRem(-20px);
}
.arrow-right:after {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	left: pxToRem(30px);
	display: block;
	margin-top: pxToRem(-17px);
	color: $black-color;
	content: "\f10a";
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-size: pxToRem(16px);
	font-family: 'Ionicons';
	line-height: 1;
	speak: none;
	margin-left: pxToRem(-20px);
}
.icon-star:after {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	position: absolute;
  	left: 100%;
	display: block;
	width: 20px;
	height: 20px;
	margin-top: pxToRem(-14px);
	color: $star-color;
	content:"\f4b3";
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-size: pxToRem(16px);
	font-family:'Ionicons';
	line-height: 1;
	speak: none;
	margin-left: pxToRem(-20px);
}

.icon-unstar:after {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	position: absolute;
  	left: 100%;
	display: block;
	margin-top: pxToRem(-14px);
	color: $unstar-color;
	content:"\f4b2";
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-size: pxToRem(16px);
	font-family:'Ionicons';
	line-height: 1;
	speak: none;
	margin-left: pxToRem(-20px);
}

.hide {
	display: none;
}
.show {
	display: block;
}


@for $i from 1 through 4 {
	.item.item-#{$i} {
		padding-left : pxToRem(30px * $i);
	}
}

.pclr{
	zoom: 1;
	&:before,&:after {
    	content:".";
		display: block;
		height: 0;
		visibility: hidden;
	}
}

.home-loading {
	text-align: center;
	font-size: pxToRem(19.2px);
	color: #999;
	height: pxToRem(300px);
	line-height: pxToRem(300px);
//	-webkit-animation: flipInX 1s infinite;
}

.hasHeader {
	margin-top: pxToRem(43px);
}
.baner {
	height: pxToRem(190px);
	background-color: $bg-color;
	text-align:center;
	color: $white-color;
	background-position: center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	.photo {
		width: pxToRem(60px);
		height: pxToRem(60px);
		margin-top: pxToRem(25px);
	}
	& > div {
		margin-top: pxToRem(5px);
	}
}


.modules {
	width: 93%;
	padding-bottom: pxToRem(15px);
	min-height: pxToRem(290px);
	overflow: hidden;
	margin: 0 auto;
	.module {
		display: block;
		width: percentage(1/3);
		height: pxToRem(90px);
		float: left;
		text-align: center;
	}
	i {
		display: inline-block;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		margin-top: pxToRem(20px);
		margin-bottom: pxToRem(20px);
	}
	.zixun {
		width: pxToRem(getSize(41px));
		height: pxToRem(getSize(34px));
		background-image: url(../image/home/zixun.png);
	}
	.kaoqin {
		width: pxToRem(getSize(35px));
		height: pxToRem(getSize(35px));
		background-image: url(../image/home/kaoqin.png);
	}
	.tongxunlu {
		width: pxToRem(getSize(25px));
		height: pxToRem(getSize(37px));
		background-image: url(../image/home/tongxunlu.png);
	}
	.zhidu {
		width: pxToRem(getSize(29px));
		height: pxToRem(getSize(33px));
		background-image: url(../image/home/zhidu.png);
		margin-top: 24px;
	}
	.cidian {
		width: pxToRem(getSize(32px));
		height: pxToRem(getSize(40px));
		background-image: url(../image/home/cidian.png);
	}
	.gonggao {
		width: pxToRem(getSize(34px));
		height: pxToRem(getSize(24px));
		background-image: url(../image/home/gonggao.png);
		margin-top: 27px;
	}
	.home {
		width: pxToRem(getSize(36px));
		height: pxToRem(getSize(33px));
		background-image: url(../image/home/home.png);
	}

}


.header {
	color: $white-color;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
	-webkit-user-drag: none;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	z-index: 9;
	box-sizing: border-box;
	padding: pxToRem(5px);
	width: 100%;
	height: pxToRem(44px);
	border-width: 0;
	border-style: solid;
	border-top: 1px solid transparent;
	border-bottom: 1px solid #ddd;
	word-wrap: break-word;
	background-color: $bg-color;
	text-align: center;
	line-height: pxToRem(32px);
	.back {
		float: left;
		display: inline-block;
		width: pxToRem(30px);
		height: pxToRem(30px);
		margin-top: pxToRem(5px);
	}
}
.side-bar {
	position: absolute;
	top: 13%;
	right: pxToRem(15px);
	font-style: normal;
}

.tab {
	.tab-item {
		display: inline-block;
		width: 30%;
		border: 1px solid $white-color;
		&.cur {
			background-color: $white-color;
			color: $bg-color;
		}
	}
}

.search-title {
	background-color:$white-color;
	.search {
	  margin: 0 auto;
	  text-align: center;
	  padding-top: pxToRem(20px);
	  max-width: pxToRem(200px);
	  width: 100%;
	}
	p {
	  	// margin: 20px 0;
	  	padding: 0;
		border: 0;
		vertical-align: baseline;
		font: inherit;
	}
	.search input {
	  padding: pxToRem(4px) pxToRem(6px);
	  padding-left: pxToRem(20px);
	  width: pxToRem(200px);
	  height: pxToRem(35px);
	  border: 0;
	  border-radius: pxToRem(4px);
	  background: #F5F5F5;
	  text-align: center;
	  font-size: pxToRem(14px);
	  outline: none;
	  -webkit-appearance: none;
	  -webkit-box-flex: 1;
	}

	.search i {
	  position: relative;
	  top: pxToRem(-25px);
	  left: pxToRem(-88px);
	  color: #999;
	  margin: 0;
	  padding: 0;
	  border: 0;
	  vertical-align: baseline;
	  font: inherit;
	}
	.ion-ios-search:before {
	  content: "\f4a5";
	  display: inline-block;
	  font-family: "Ionicons";
	  speak: none;
	  font-style: normal;
	  font-weight: normal;
	  font-variant: normal;
	  text-transform: none;
	  text-rendering: auto;
	  line-height: 1;
	  -webkit-font-smoothing: antialiased;
	}
}

.medic-list {
	zoom: 1;
	&:before,&:after {
    	content:".";
		display: block;
		height: 0;
		visibility: hidden;
	}
	margin: 0 auto;
	li {
		width: 50%;
		float: left;
        margin-top: pxToRem(20px);
        img,div {
        	width: 90%;
        	height: 90%;
        	margin: 0 auto;
        	text-align: left;
        	background-color: $white-color;
        }
        div {
        	padding: pxToRem(5px);
        }
	}
}

.content {
	margin: 0 pxToRem(15px);
	.medic-title {
		padding-top: pxToRem(10px);
		padding-bottom: pxToRem(10px);
		font-weight: bold;
	}
	img {
		width: 100%;
		height: auto;
	}
	p {
		text-align: left;
	}
}

.rule-list {
	div.item {
		background-color: $item-bg-color;
	}
}

.gonggao-list {
	.gonggao-title {
		width: 60%;
		display: inline-block;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	.gonggao-date {
		color: $gray-color;
		float: right;
	}
	.brief {
		width: 65%;
		color: $gray-color;
		display: inline-block;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	.status {
		float: right;
		color: $white-color;
		background-color: $red-color;
		display: inline-block;
		width: pxToRem(36px);
		height: pxToRem(16px);
		border-radius: pxToRem(8px);
		text-align: center;
		font-size: pxToRem(12px);
		padding-top: pxToRem(3px);
	}
	.go-right:after {
		margin-top: pxToRem(-28px);
	}
}
.notice-date {
	display: inline-block;
	width: 100%;
	text-align: right;
	color: $gray-color;
	margin-bottom: pxToRem(10px);
}

#wrapper {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;;
}
#content {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.pt-page-moveToLeft {
	-webkit-animation: moveToLeft .6s ease both;
	-moz-animation: moveToLeft .6s ease both;
	animation: moveToLeft .6s ease both;
}

.pt-page-moveFromLeft {
	-webkit-animation: moveFromLeft .6s ease both;
	-moz-animation: moveFromLeft .6s ease both;
	animation: moveFromLeft .6s ease both;
}

@-webkit-keyframes moveToLeft {
	to { -webkit-transform: translateX(-100%); }
}
@-moz-keyframes moveToLeft {
	to { -moz-transform: translateX(-100%); }
}
@keyframes moveToLeft {
	to { transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); }
}
@-moz-keyframes moveFromLeft {
	from { -moz-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
	from { transform: translateX(-100%); }
}


@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
    -ms-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.my-dialog{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    .alert-body{
        height: pxToRem(146px);
        width: 80%;
        position: absolute;
        top: 26%;
        left: 10%;
        z-index: 3;
        .alert-title{
            background-color: $dialog-head-color;
            height: pxToRem(26px);
            color: $white-color;
            text-align: center;
            padding-top: pxToRem(5px);
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        .alert-content{
            background-color: $dialog-bg-color;
            height: pxToRem(115px);
            width: 100%;
            p{
                font-size: pxToRem(13px);
                float: left;
                width: 90%;
                height: pxToRem(60px);
                margin: pxToRem(5px) 5%;
                text-align: center;
            }
            div{
                float: left;
                width: 46%;
                height: pxToRem(25px);
                font-size: pxToRem(15px);
                margin: pxToRem(5px) 26%;
            }
            input{
                border-radius: pxToRem(5px);
                background-color: $dialog-but-color;
                width: 100%;
                height: pxToRem(25px);
            }
        }
    }
    .tip-body{
        height: pxToRem(146px);
        width: 80%;
        position: absolute;
        top: 26%;
        left: 10%;
        z-index: 3;
        background-color: $dialog-bg-color;
        padding-top: pxToRem(50px);
        font-size: pxToRem(20px);
        p{
            text-align: center;
            margin: auto pxToRem(15px);
        }
    }
    .confirm-body{
        height: pxToRem(146px);
        width: 80%;
        position: absolute;
        top: 26%;
        left: 10%;
        z-index: 3;
        .confirm-title{
            background-color: $dialog-head-color;
            height: pxToRem(26px);
            color: $white-color;
            text-align: center;
            padding-top: pxToRem(5px);
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        .confirm-content{
            background-color: $dialog-bg-color;
            height: pxToRem(115px);
            width: 100%;
            p{
                font-size: pxToRem(13px);
                float: left;
                width: 90%;
                height: pxToRem(60px);
                margin: pxToRem(5px) 5%;
                text-align: center;
            }
            div{
                float: left;
                width: 60%;
                height: pxToRem(25px);
                font-size: pxToRem(15px);
                margin: pxToRem(5px) 20%;
            }
            input{
                border-radius: 5px;
                background-color: $dialog-but-color;
                width: 45%;
                height: pxToRem(25px);
            }
            .right{
                margin-left: 5%;
            }
        }
    }
    .prompt-body{
        height: pxToRem(146px);
        width: 80%;
        position: absolute;
        top: 26%;
        left: 10%;
        z-index: 3;
        .prompt-title{
            background-color: $dialog-head-color;
            height: pxToRem(26px);
            color: $white-color;
            text-align: center;
            padding-top: pxToRem(5px);
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        .prompt-content{
            background-color: $dialog-bg-color;
            height: pxToRem(115px);
            width: 100%;
            p{
                font-size: pxToRem(14px);
                float: left;
                width: 90%;
                height: pxToRem(25px);
                margin: pxToRem(5px) 8%;
            }
            div{
                float: left;
                width: 60%;
                height: pxToRem(65px);
                font-size: pxToRem(15px);
                margin: pxToRem(5px) 20%;
            }
            .input{
                height: pxToRem(23px);
                display: block;
                width: 84%;
                margin: pxToRem(5px) 8%;
            }
            .btn{
                border-radius: 5px;
                background-color: $dialog-but-color;
                width: 45%;
                height: pxToRem(25px);
            }
            .right{
                margin-left: 5%;
            }
        }
    }
}
.my-dialog-tip{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: #939393;
    opacity: 0.6;
}
.my-dialog-tip-container{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    .tip-body{
        min-height: pxToRem(26px);
        max-width: 50%;
        margin: 71% 25% auto;
        background-color: #2c2c2c;
        font-size: pxToRem(15px);
        color: $white-color;
        min-width: pxToRem(50px);
        border-radius: 5px;
        text-overflow: ellipsis;
        p{
            text-align: center;
            margin: auto pxToRem(15px);
            padding: pxToRem(6px);
        }
    }
}



@-webkit-keyframes rotate{
	from{-webkit-transform:rotate(0deg)}
	to{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes rotate{
	from{-moz-transform:rotate(0deg)}
	to{-moz-transform:rotate(360deg)}
}
@-ms-keyframes rotate{
	from{-ms-transform:rotate(0deg)}
	to{-ms-transform:rotate(360deg)}
}
@-o-keyframes rotate{
	from{-o-transform:rotate(0deg)}
	to{-o-transform:rotate(360deg)}
}
.loading {
	background-image: url(../image/loading.png);
	background-repeat: no-repeat;
	animation: 1s linear 0s normal none infinite rotate;
	-webkit-animation: 1s linear 0s normal none infinite rotate;
	height: 48px;
	width: 48px;
	position: absolute;
	left: 50%;
	margin-left:-24px; 
	margin-top: pxToRem(180px);
	background-size: cover;
}